# Configuration files
web/bundles/*
app/config/parameters.yml
# Symfony directories
*~
*/logs/*
composer.phar
app/config/parameters.ini
# Misc
/nbproject/
# Bootstrap
vagrant/*
vendor/*
/vagrant
*/cache/*
composer.lock
# Composer
app/bootstrap*
web/uploads/*
