{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row-fluid" id="content-wrapper">
    </div>
{% endblock %}
